body{
	margin: 0;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	background-image: url(https://wallpaperaccess.com/full/729354.jpg);
	font-family: 'Georama', sans-serif;
	color: #000000;
	height: 100%; 
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
h2{
	text-align: center;
	
}
input,form{
	text-align: center;
	font-size: medium;
	border: none;
	border-radius: 5px;
	cursor: auto;
	width: 300px;
	margin-left: auto;
	margin-right: auto;

}
p{
	text-align: center;
}
